<div nz-row *ngIf="hasSearchBar">
    <div class="searchbar" nz-col nzSpan="24">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="searchValue" (input)="search()" type="text" nz-input placeholder="Buscar" />
          </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #table [nzData]="tableData" [nzLoading]="loading" [nzScroll]="{ x: '100vw', y: '60vh' }">
            <thead>
              <tr>
                <ng-container *ngFor="let column of columns">
                  <th
                    nzShowSort
                    (nzSortOrderChange)="customSortFunction($event, column.prop)"
                  >{{ column.display }}</th>
                </ng-container>
                <th nzRight *ngIf="hasActions" colspan="1">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data">
                <ng-container *ngFor="let key of getKeys()">
                  <td *ngIf="key === 'modules'; else date">
                    {{data[key] | module}}
                  </td>
                  <ng-template #date>
                    <td *ngIf="key.toLowerCase().includes('date'); else normalKey">
                      {{data[key] | date}}
                    </td>
                  </ng-template>
                  <ng-template #normalKey>
                    <td *ngIf="data[key].length !== 36">{{data[key]}}</td>
                  </ng-template>
                </ng-container>
                <td colspan="1" *ngIf="hasActions" nzRight>
                  <a (click)="editRow(data)">Editar</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="deleteRow(data.id)" style="color: #ff4d4f">Borrar</a>
                  <ng-container *ngIf="hasOpenButton">
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" (click)="openElementEvent(data)">Abrir</button>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>
