<div nz-row *ngIf="hasSearchBar">
    <div class="searchbar" nz-col nzSpan="24">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Buscar" />
          </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #table [nzData]="tableData" [nzLoading]="loading" [nzScroll]="{ x: '100vw' }">
            <thead>
              <tr>
                <ng-container *ngFor="let column of columns">
                  <th>{{ column }}</th>
                </ng-container>
                <th nzRight *ngIf="hasActions">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data">
                <ng-container *ngFor="let key of getKeys()">
                  <td *ngIf="data[key].length !== 36">{{data[key]}}</td>
                </ng-container>
                <td *ngIf="hasActions" nzRight>
                  <a (click)="editRow(data)">Editar</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="deleteRow(data.id)" style="color: #ff4d4f">Borrar</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>
