<form nz-form [formGroup]="courseForm">
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Clave</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="La clave de la materia es requerida...">
      <input nz-input formControlName="key" id="clave" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Nombre</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="El nombre de la materia es requerida...">
      <input nz-input type="text" id="nombre" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Capacidad</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="La capacidad de la materia es requerida...">
      <input nz-input type="number" min="1" id="capacidad" formControlName="capacity" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Semestre</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="El semestre de la materia es requerido...">
      <input nz-input type="number" min="1" id="semestre" formControlName="semester" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Semana inicial</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="La semana inicial de la materia es requerida...">
      <input nz-input type="number" min="1" id="semana-inicial" formControlName="initialWeek" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Semanas</nz-form-label>
    <nz-form-control [nzSpan]="16" nzErrorTip="La semanas de la materia son requeridas...">
      <input nz-input type="number" min="1" id="semanas" formControlName="weeks" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRight [nzSpan]="6" nzRequired>Avenidas</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <nz-select formControlName="avenue" nzMode="tags" id="avenue">
        <nz-option *ngFor="let item of avenues" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="loading">Aceptar</button>
  </div>
</form>
