.img-logo{
    width: 30vh;
}

.header{
    font-size: 5vh;
    font-weight: bold;
}

.login-form {
    min-width: 300px;
  }

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    background-color: #223F92;
    color: #fff;
}

.icons{
    font-size: 2.5vh;
    color: #223f92;
}